div.left {
	float: left;
}
div.details {
	min-width: 50%;
	max-width: 50%;
	word-wrap: break-word;
}
div.pannel {
	margin: 0.5em 1em 3em 1em;
}
table.status {
	table-layout: fixed;
}
td.sep {
	padding: 1em 0 0 0.5em;
}
td.item {
	padding: 0 0 0 0.5em;
}
div.events {
	padding-left: 2em;
}
div.text {
	word-wrap: break-word;
	overflow: auto;
	max-height: 600px;
	border: solid #eee;
	padding-left: 1em;
}
th.green {
	padding: 1em;
	background-color: #00ff00;
}
th.red {
	padding: 1em;
	background-color: #ff0000;
}
th.yellow {
	padding: 1em;
	background-color: #ffff00;
}
th a {
	float: right;
}
p.err {
	color: red;
}
