<div *ngIf="item" class="left details">
	<div class="pannel">
		<table class="status">
			<th [class]="item.status.class">Detalhes: {{item.server.name}}<a href="#" (click)="onClose();" ><img src="assets/close.png" alt="Fechar" title="Fechar" /></a></th>

			<tr><td class="sep">Último sinal recebido: {{item.server.lastknowof | date:'long':'pt'}}</td></tr>
			<tr><td class="item">Threads de trabalho: {{item.server.workers}}</td></tr>
			<tr><td class="item">Sinais recebidos: {{item.server.heartbeats}}</td></tr>
			<tr><td class="item">Successos relatados: {{item.server.success}}</td></tr>
			<tr><td class="item">Falhas relatadas: {{item.server.failures}}</td></tr>

			<tr><td class="sep">Configuração: {{item.server.config}}</td></tr>
			<tr><td class="item">JMX: {{item.server.jmx.address}}/{{item.server.jmx.port}}</td></tr>
			<tr><td class="item">Início de execução: {{item.server.startTime | date:'long':'pt'}}</td></tr>

			<tr><td class="sep">Memória heap ao iniciar: {{item.server.heap?.init}}</td></tr>
			<tr><td class="item">Memória heap utilizada: {{item.server.heap?.used}}</td></tr>
			<tr><td class="item">Memória heap comprometida: {{item.server.heap?.committed}}</td></tr>
			<tr><td class="item">Memória heap máxima: {{item.server.heap?.max}}</td></tr>

			<tr><td class="sep">Memória local ao iniciar: {{item.server.nonheap?.init}}</td></tr>
			<tr><td class="item">Memória local utilizada: {{item.server.nonheap?.used}}</td></tr>
			<tr><td class="item">Memória local comprometida: {{item.server.nonheap?.committed}}</td></tr>
			<tr><td class="item">Memória local máxima: {{item.server.nonheap?.max}}</td></tr>

			<tr><td class="sep">Ambiente: {{item.server.env}}</td></tr>
		</table>
	</div>
	<div class="events">
		<label>Eventos</label>
		<div class="text" innerHTML="{{item.server.events}}"></div>
	</div>
</div>

