div.left {
	float: left;
}
div.left-pannel {
	min-width: 50%;
}
div.pannel {
	margin: 0.5em 1em 3em 1em;
}
th.agents {
	padding: 1em;
	background-color: green;
	color: white;
	margin-bottom: 2em;
}
th.servers {
	padding: 1em;
	background-color: black;
	color: white;
	margin-bottom: 2em;
}
td.middle {
	padding: 0.5em 1em 0.5em 1em;
	width: 80%;
}
td.odd {
	background-color: #eee;
}
td.right {
	text-align: right;
}
th.rogues {
	padding: 1em;
	background-color: grey;
	color: white;
	margin-bottom: 2em;
}
td.rogues {
	text-align: right;
	width: 64px;
}
