<div class="left left-pannel">

	<!-- Agents -->
	<div class="pannel">
		<table>
			<thead>
				<tr><th colspan="3" class="agents">Agentes em Execução</th></tr>
				<tr><td colspan="3">&nbsp;</td></tr>
			</thead>
			<tbody>
				<tr *ngFor="let it of agentServers">
					<td class="rogues">
						<a href="#" (click)="onSelectAgent(it.name);" >
						<img src="assets/details.png" alt="Detalhar monitoramento" title="Detalhar monitoramento" /></a>
					</td>
					<td class="middle" [class.odd]="it.isOdd">{{it.name}}</td>
					<td class="right"><img [attr.src]="it.status.src" [attr.alt]="it.status.alt" [attr.title]="it.status.title" /></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Known servers -->
	<div class="pannel">
		<table>
			<thead>
				<tr><th colspan="3" class="servers">Serviços Monitorados</th></tr>
				<tr><td colspan="3">&nbsp;</td></tr>
			</thead>
			<tbody>
				<tr *ngFor="let it of knownServers">
					<td>
						<a href="#" (click)="onDemote(it.name);" >
						<img src="assets/demote.png"  alt="Deixar de monitorar" title="Deixar de monitorar" /></a>
						<a href="#" (click)="onSelect(it.name);" >
						<img src="assets/details.png" alt="Detalhar monitoramento" title="Detalhar monitoramento" /></a>
					</td>
					<td class="middle" [class.odd]="it.isOdd">{{it.name}}</td>
					<td class="right"><img [attr.src]="it.status.src" [attr.alt]="it.status.alt" [attr.title]="it.status.title" /></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Rogue servers -->
	<div class="pannel">
		<table>
			<thead>
				<tr><th colspan="3" class="rogues">Serviços Não Monitorados</th></tr>
				<tr><td colspan="3">&nbsp;</td></tr>
			</thead>
			<tbody>
				<tr *ngFor="let it of rogueServers">
					<td class="rogues">
						<a href="#" (click)="onPromote(it.name);" >
						<img src="assets/promote.png" alt="Passar a monitorar" title="Passar a monitorar" /></a>
					</td>
					<td class="middle" [class.odd]="it.isOdd">{{it.name}}</td>
					<td class="right"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<app-server-detail [item]="item"></app-server-detail>

