<div class="main w3-container">
	<div class="title">
		<img src="assets/app-icon.png" alt="Monitoramento" class="w3-display-topleft" />
		<p>
			<span class="main">Dibbix</span><br>
			<span class="sub">Monitoramento de Aplicativos Things</span>
		</p>
		<a href="#" onclick="document.getElementById('config').style.display='block'">
		<img src="assets/config.png" alt="Configurações" title="Configurações" class="w3-display-topright close" /></a>
	</div>
	<app-config></app-config>
</div>
<app-servers></app-servers>
