div.contents {
	width: 60%;
	padding-right: 2em;
}
h1.main {
	font-size: 16pt;
	font-weight: bold;
	width: fit-content;
	margin-top: 1em;
}
h2.sub {
	font-size: 12pt;
	font-weight: bold;
}
h2.sep {
	margin-top: 42px;
}
img.close {
	padding: 2em;
}
