<div id="config" class="w3-modal">
	<div class="w3-modal-content w3-round-large contents" >
	<form #configForm="ngForm" (ngSubmit)="onSubmit();" class="w3-container">
		<a href="#" (click)="onCancel();">
		<img src="assets/close.png" alt="Fechar" title="Fechar" class="w3-display-topright close" /></a>
		<h1 class="main w3-border-bottom w3-border-dark-grey">Configurações</h1>
		<div [hidden]="!configForm.dirty" class="alert">Se salvar as alterações, reinicie a aplicação para atualizar.</div>
		<div class="w3-cell-row w3-container w3-small">
			<div class="w3-container w3-cell">
				<h2 class="sub" title="Obtenção dos dados do serviço things-mgmt" >Carga dos dados</h2>
				<p>
					<label	for="reload">Recarga:</label>
					<input	name="reload"
							id="reload"
							required
							[(ngModel)]="config.reload"
							#reload="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title="Tempo (em segundos) para recarga dos dados">
				</p>
				<div [hidden]="reload.valid || reload.pristine" class="alert alert-danger">Valor inválido</div>
				<p>
					<label	for=repeat>Tentativas:</label>
					<input	name="repeat"
							id="repeat"
							required
							[(ngModel)]="config.repeat"
							#repeat="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title="Em caso de falha, quantidade de tentativas" >
				</p>
				<div [hidden]="repeat.valid || repeat.pristine" class="alert alert-danger">Valor inválido</div>

				<h2 class="sub sep" title="Valor para emissão de alarme">Limites para alarme</h2>
				<p>
					<label	for="green">Verde:</label>
					<input	name="green"
							id="green"
							required
							[(ngModel)]="config.rules.green"
							#green="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title="Limite máximo para condição normal" >
				</p>
				<div [hidden]="green.valid || green.pristine" class="alert alert-danger">Valor inválido</div>
				<p>
					<label	for="red">Vermelho:</label>
					<input	name="red"
							id="red"
							required
							[(ngModel)]="config.rules.red"
							#red="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title="Limite mínimo para condição crítica" >
				</p>
				<div [hidden]="red.valid || red.pristine" class="alert alert-danger">Valor inválido</div>
			</div>
			<div class="w3-container w3-cell">
				<h2 class="sub" title="Prioridade das regras" >Regras de alarme</h2>
				<p>
					<label	for="lastknowof">Último sinal:</label>
					<input	name="lastknowof"
							id="lastknowof"
							required
							[(ngModel)]="config.rules.lastknowof"
							#lastknowof="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title="Sinal de saúde não recebido" >
				</p>
				<div [hidden]="lastknowof.valid || lastknowof.pristine" class="alert alert-danger">Valor inválido</div>
				<p>
					<label	for="ratio">Razão de sucessos:</label>
					<input	name="ratio"
							id="ratio"
							required
							[(ngModel)]="config.rules.ratio"
							#ratio="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title="Razão sucesso/falha crescente">
				</p>
				<div [hidden]="ratio.valid || ratio.pristine" class="alert alert-danger">Valor inválido</div>
				<p>
					<label	for="failures">Taxa de falhas:</label>
					<input	name="failures"
							id="failures"
							required
							[(ngModel)]="config.rules.failures"
							#failures="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title="Quantidade de falhas crescente" >
				</p>
				<div [hidden]="failures.valid || failures.pristine" class="alert alert-danger">Valor inválido</div>
				<p>
					<label	for="devider">Redutor:</label>
					<input	name="devider"
							id="devider"
							required
							[(ngModel)]="config.rules.devider"
							#devider="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title="Valor de redução dos pontos acumulados" >
				</p>
				<div [hidden]="devider.valid || devider.pristine" class="alert alert-danger">Valor inválido</div>
				<p>
					<label	for="limit">Limite:</label>
					<input	name="limit"
							id="limit"
							required
							[(ngModel)]="config.rules.limit"
							#limit="ngModel"
							class="w3-input w3-border w3-hover-light-gray"
							type="number"
							title ="Limite onde os pontos acumulados tendem a 0" >
				</p>
				<div [hidden]="limit.valid || limit.pristine" class="alert alert-danger">Valor inválido</div>
			</div>
		</div>
		<div class="w3-container w3-padding-16 w3-right-align">
			<button type="button" (click)="onReset();" class="w3-button w3-round">Padrão</button>
			<button type="submit" [disabled]="!configForm.form.valid" class="w3-button w3-round">Salvar</button>
		</div>
	</form>
	</div>
</div>
